services:
  app:
    build: .
    command: bash -c "make && ./monitor & sleep 2 && pip3 install -r api/requirements.txt && uvicorn api.api:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    restart: unless-stopped